<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Crítica</title>
    <link href="../public/css/movie_review_filter.css" rel="stylesheet">
</head>
<body>
    <div class = "header"> 
        <div class ="header-title">Minha Crítica</div>
        <div class = "header-menu">
            <div class="header-menu-home">HOME</div>
            <div class="header-menu-filmes">FILMES</div>
            <div class="header-menu-series">SÉRIES</div>
            <div class="header-menu-livros">LIVROS</div>
        </div>
        <div class = "header-acc">
            <div class="header-acc-signup">Increver-se</div>
            <div class="header-acc-signin">Login</div>    
        </div>
    </div>
    <div class = "corpo">
        <div class = "filtro">
            <div class = "titulo">
                <h1>Filtros</h1>
            </div>
            <form >
                <label for="tipo">Tipo</label>
                <select id="tipo" name="tipo"><br>
                    <option value= "filme">Filme</option>
                    <option value= "livro">Livro</option>
                    <option value= "serie">Serie</option>
                </select><br><br>
                <div class="linha"></div><br><br>
                <label for="nome">Nome</label>
                <input type="text" id="nome" name="nome" value="Nome da obra"><br><br>
                <div class="linha"></div><br><br>
                <label for="ano_lanc">Ano de Lançamento</label>
                <input type="text" id="ano_lanc" name="ano_lanc" value="Ano de lançamento"><br><br>
                <div class="linha"></div><br><br>
                <label for="usuario">Usuário</label>
                <input type="text" id="usuario" name="usuario" value="Usuário"><br><br>
                <div class="linha"></div><br><br>
                <input type="submit" value="Filtrar">
            </form>
        </div>
        <div class = "quadros">
            <div class = "quadro centralizar">
                <div class = "obra centralizar"></div>
                <div class = "barra centralizar">
                    <div class="favorito"><ion-icon name="heart"></ion-icon></div>
                    <div class="compartilhar_abrir">
                        <ion-icon name="share-social"></ion-icon>
                        <ion-icon name="open-outline"></ion-icon>
                    </div>
                    <div class = ""></div>
                </div>
            </div>
            <div class = "quadro centralizar">
                <div class = "obra centralizar"></div>
                <div class = "barra centralizar">
                    <div class="favorito"><ion-icon name="heart"></ion-icon></div>
                    <div class="compartilhar_abrir">
                        <ion-icon name="share-social"></ion-icon>
                        <ion-icon name="open-outline"></ion-icon>
                    </div>
                    <div class = ""></div>
                </div>
            </div><div class = "quadro centralizar">
                <div class = "obra centralizar"></div>
                <div class = "barra centralizar">
                    <div class="favorito"><ion-icon name="heart"></ion-icon></div>
                    <div class="compartilhar_abrir">
                        <ion-icon name="share-social"></ion-icon>
                        <ion-icon name="open-outline"></ion-icon>
                    </div>
                    <div class = ""></div>
                </div>
            </div><div class = "quadro centralizar">
                <div class = "obra centralizar"></div>
                <div class = "barra centralizar">
                    <div class="favorito"><ion-icon name="heart"></ion-icon></div>
                    <div class="compartilhar_abrir">
                        <ion-icon name="share-social"></ion-icon>
                        <ion-icon name="open-outline"></ion-icon>
                    </div>
                    <div class = ""></div>
                </div>
            </div><div class = "quadro centralizar">
                <div class = "obra centralizar"></div>
                <div class = "barra centralizar">
                    <div class="favorito"><ion-icon name="heart"></ion-icon></div>
                    <div class="compartilhar_abrir">
                        <ion-icon name="share-social"></ion-icon>
                        <ion-icon name="open-outline"></ion-icon>
                    </div>
                    <div class = ""></div>
                </div>
            </div><div class = "quadro centralizar">
                <div class = "obra centralizar"></div>
                <div class = "barra centralizar">
                    <div class="favorito"><ion-icon name="heart"></ion-icon></div>
                    <div class="compartilhar_abrir">
                        <ion-icon name="share-social"></ion-icon>
                        <ion-icon name="open-outline"></ion-icon>
                    </div>
                    <div class = ""></div>
                </div>
            </div>
        </div>
    </div>
</body>
<script  type = "module"  src = "https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"> </script>
<script  nomodule  src = "https://unpkg .com/ionicons@5.5.2/dist/ionicons/ionicons.js" > </script>
</html>