<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Media Register</title>
    <link href="../../public/css/media_reg.css" rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="header-title">Minha Crítica</div>
        <div class="header-menu">
            <div class="header-menu-home">HOME</div>
            <div class="header-menu-filmes">FILMES</div>
            <div class="header-menu-series">SÉRIES</div>
            <div class="header-menu-livros">LIVROS</div>
        </div>
        <div class="header-acc">
            <div class="header-acc-signup">Inscrever-se</div>
            <div class="header-acc-signin">Login</div>
        </div>
    </div>
    <div class ="corpo">
        <form id="selecao">
            <label for="media">Qual o tipo de mídia que você deseja cadastrar?</label>
            <select name="media" id="media">
                <option value="filme">Filme</option>
                <option value="série">Série</option>
                <option value="livro">Livro</option>
            </select>
            <br><br>
            <input type="button" value="Continuar" onclick="">
        </form>
    </div>

</body>
<script>
    //TODO
</script>
</html>